:root {
  --first-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --first-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --alt-bg-color: #f5f4fa;
  --calm-icon-corol: #afb1b8;
  --main-transition-duration: 250ms;
  --main-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  padding: 0px 0px;
}

body {
  background-color: var(--first-bg-color);
  color: var(--first-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: var(--first-bg-color);
}

.work-title,
.team-title,
.clients-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--first-bg-color);
  background-color: var(--accent-color);
  border: none;
  min-width: 216px;
  min-height: 50px;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-btn,
.modal-btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--first-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--alt-bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--first-bg-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.modal-window {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--first-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.backdrop.is-hidden .modal-window {
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
}

.modal-window-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--first-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.modal-window-close-icon {
  fill: currentColor;
}

.modal-window-close:hover,
.modal-window-close:focus {
  color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding: 0px 42px;
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon-wrap {
  color: var(--accent-color);
}

.modal-input.comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}

.modal-input.comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input.comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input.comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input.comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
}

.modal-icon-wrap {
  color: var(--title-text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--first-text-color);
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-label-privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.check-icon {
  fill: currentColor;
}

.check-icon-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: transparent;
  -webkit-transition-property: color, background-color, border;
  transition-property: color, background-color, border;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.modal-input-privacy:checked + .modal-label-privacy > .check-icon-wrap {
  background-color: var(--accent-color);
  color: var(--first-bg-color);
  border: 0px solid var(--accent-color);
}

.modal-privacy-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-input-privacy {
  position: absolute;
  left: 67px;
  bottom: 126px;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav,
.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.nav-link {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-link {
  color: var(--first-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-icon {
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: var(--second-bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 200px 0px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-bg-color);
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.adv {
  padding-top: 94px;
  padding-bottom: 94px;
}

.adv-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.adv-item {
  max-width: 270px;
}

.adv-icon-wrap {
  background-color: var(--alt-bg-color);
  border-radius: 4px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.adv-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.adv-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  padding-bottom: 94px;
}

.work-item {
  position: relative;
}

.work-subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--first-bg-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: var(--alt-bg-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item-group {
  background-color: var(--first-bg-color);
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-text,
.team-subtitle {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  color: var(--first-text-color);
  margin-bottom: 16px;
}

.team-subtitle {
  font-weight: 500;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--calm-icon-corol);
  background-color: var(--first-bg-color);
  border-radius: 50%;
}

.footer .social-link {
  color: var(--first-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--first-bg-color);
  background-color: var(--accent-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--calm-icon-corol);
  border: 1px solid var(--calm-icon-corol);
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address {
  font-style: inherit;
  margin-top: 20px;
}

.address-item:not(:first-child) {
  margin-top: 9px;
}

.address-map,
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-bg-color);
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-map:hover,
.address-link:hover,
.address-map:focus,
.address-link:focus {
  color: var(--accent-color);
}

.footer-join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-bg-color);
  margin-bottom: 20px;
}

.footer-wrap.form-wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-email {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 14px 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--first-bg-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.footer-email:focus {
  border-color: var(--first-bg-color);
}

.footer-email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-email::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.icon-send {
  fill: var(--first-bg-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item-link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.portfolio-item-hover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item-hover-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--first-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--main-transition-duration);
          transition-duration: var(--main-transition-duration);
  -webkit-transition-timing-function: var(--main-transition-timing-function);
          transition-timing-function: var(--main-transition-timing-function);
}

.portfolio-item-link:hover .portfolio-item-hover-text,
.portfolio-item-link:focus .portfolio-item-hover-text {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-group {
  background-color: var(--first-bg-color);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}/*# sourceMappingURL=main.css.map */